@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --zen-yellow: #B8B21E;
  --zen-blue: #1623B5;
  --zen-sky: #496AA1;
  --zen-white: #E5E6EA;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "GeneralSans";
  src: url("/Fonts/GeneralSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Light";
  src: url("/Fonts/GeneralSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Medium";
  src: url("/Fonts/GeneralSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "GeneralSans", sans-serif;
}

.gSans {
  font-family: "GeneralSans", sans-serif;
}

.gSansLight {
  font-family: "GeneralSans-Light", sans-serif;
}

.gSansMedium {
  font-family: "GeneralSans-Medium", sans-serif;
}