@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --zen-yellow: #B8B21E;
  --zen-blue: #1623B5;
  --zen-sky: #496AA1;
  --zen-white: #E5E6EA;
  --zen-base: #0e0eac;
  --zen-comp: #ad6b0f;
  --zen-analog: #0e56ac;
  --zen-analog2: #0eacac;
  --zen-triadic: #ab0e55;
  --zen-orange: #AC6B0E;
  --zen-skyblue: #3EB8EB;
  --zen-lightorange: #f39614;
  --zen-pilaresanim: #333333;
  --zen-pilaresanim2: #505050;
  --zen-pilaresanim3: #747474;
  --transition-menu1: 0.4s;
  --transition-menu2: 0.64s cubic-bezier(0.81, -0.13, 0.29, 0.95);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #E5E6EA;
}

::-webkit-scrollbar-thumb {
  background: var(--zen-orange);
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Gambetta*/

@font-face {
  font-family: "Gambetta";
  src: url("/Fonts/Gambetta-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta-Light";
  src: url("/Fonts/Gambetta-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gambetta-Medium";
  src: url("/Fonts/Gambetta-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*Lato*/


body {
  overflow-x: hidden;
}

.gSans {
  font-family: "Gambetta", sans-serif;
}

.gSansLight {
  font-family: "Gambetta-Light", sans-serif;
}

.gSansMedium {
  font-family: "Gambetta-Medium", sans-serif;
}

.third-text {
  text-shadow: 2px 2px black;
}

.main-course-container {
  overflow: hidden;
  position: relative;
  background: rgb(172, 107, 14);
  background: linear-gradient(180deg, #ac6b0e 0%, rgba(189, 138, 65, 1) 35%, rgba(209, 174, 123, 1) 69%, rgba(224, 200, 166, 1) 85%, rgba(255, 255, 255, 1) 100%);
  padding: 50px 30px;
  width: 100vw;
  height: 100vh;
}

/** css slider */
.slider {
  height: 90vh;
  position: relative;
  font-family: "Gambetta", sans-serif;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #ac6b0e 20%, transparent);
}

.slider .list .item .content {
  position: absolute;
  left: 6%;
  top: 5%;
  width: 1560px;
  max-width: 85%;
  z-index: 1;
}

.slider .list .item .text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 1500px; */
  max-width: 100%;
}

.slider .list .item .text-content p {
  font-size: 26px;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--zen-white);
  text-wrap: pretty;
}

.slider .list .item .content .title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 40px;
  color: var(--zen-analog2);
}

.slider .list .item .content h2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--zen-white);
}

.slider .list .item.active {
  opacity: 1;
  z-index: 2;
  border-radius: 25px;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    filter: drop-shadow(0px 0px 10px #eee5);
    opacity: 1;
  }
}

@keyframes showShadow {
  to {
    transform: translateY(0);
    filter: blur(0);
    filter: drop-shadow(0px 0px 10px #eee5);
    text-shadow: 2px 2px 2px #000;
    opacity: 1;
  }
}


.slider .list .item.active .content .text-content p {
  transform: translateY(30px);
  /* filter: blur(30px); */
  filter: drop-shadow(0px 0px 0px #eee5);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

.slider .list .item.active .content .title,
.slider .list .item.active .content h2 {
  transform: translateY(30px);
  /* filter: blur(30px); */
  filter: drop-shadow(0px 0px 0px #eee5);
  opacity: 0;
  animation: showShadow 0.5s 0.7s ease-in-out 1 forwards;
}

.slider .list .item.active .content h2 {
  animation-delay: 1s;
}

.slider .list .item.active .content .text-content p {
  animation-delay: 1.3s;
}

.arrows {
  position: absolute;
  top: 60%;
  right: 12%;
  z-index: 3;
  display: flex;
  gap: 10px;
}

.button-slider {
  padding: 0;
}

.arrows button {
  background-color: #00000099;
  border: none;
  font-family: monospace;
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 8px;
  color: #eee;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: #eee;
  color: #000;
  cursor: pointer;
}

/*buttons*/
.content .buttons {
  position: absolute;
  top: 0;
  right: -60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  z-index: 10;
}

.content .buttons .button {
  background-color: #00000099;
  color: var(--zen-white);
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.content .buttons .button:hover {
  background-color: var(--zen-white);
  color: black;
}

.content .buttons .button-info {
  background-color: #00000099;
  color: var(--zen-white);
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.content .buttons .button-info:hover {
  background-color: var(--zen-white);
  color: black;
}

/* thumbnail */

.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
}

.thumbnail::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.thumbnail .item {
  width: 180px;
  height: 220px;
  filter: brightness(0.6);
  transition: 0.5s;
  flex-shrink: 0;
  cursor: pointer;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail .item.active {
  filter: brightness(1.2);
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}

.thumbnail .item .content h2 {
  font-size: 20px;
  text-align: center;
  color: var(--zen-orange);
  font-weight: bolder;
  text-shadow: 1px 1px 1px black;
}

.thumbnail .item .content p {
  font-size: 18px;
  text-align: center;
  color: black;
  font-weight: bolder;
  text-shadow: 1px 1px 1px var(--zen-white);
}

@media screen and (max-width: 1290px) {
  .slider .list .item .content {
    top: 5%;
    width: 1200px;
  }

  .slider .list .item .content .title {
    font-size: 26px;
  }

  .slider .list .item .content h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .slider .list .item .text-content p {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--zen-white);
  }

  .thumbnail {
    bottom: 20px;
    padding: 0 20px;
    height: 140px;
  }

  .thumbnail .item {
    height: 135px;
  }

  .thumbnail .item .content h2 {
    font-size: 18px;
    text-align: center;
    color: var(--zen-orange);
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
  }

  .thumbnail .item .content p {
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--zen-white);
  }
}

@media screen and (max-width: 600px) {

  .content .buttons {
    position: absolute;
    top: 110%;
    right: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .content .buttons .button {
    font-size: 13px;
  }

  .slider .list .item .content {
    top: 5%;
    max-width: 85%;
  }

  .slider .list .item .content .title {
    font-size: 18px;
  }

  .slider .list .item .content h2 {
    font-size: 24px;
    margin-bottom: 4px;
  }

  .slider .list .item .text-content p {
    font-size: 15px;
  }

  .arrows {
    display: none;
  }

  .thumbnail {
    justify-content: start;
  }

  .thumbnail .item .content h2 {
    font-size: 14px;
  }

  .thumbnail .item .content p {
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {

  .main-course-container {
    padding: 60px 20px;
  }

  .content .buttons {
    position: absolute;
    top: 104%;
    right: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .content .buttons .button {
    font-size: 12px;
  }

  .slider .list .item .content {
    top: 5%;
    max-width: 85%;
  }

  .slider .list .item .content .title {
    font-size: 18px;
    letter-spacing: 0;
  }

  .slider .list .item .content h2 {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .slider .list .item .text-content p {
    font-size: 14px;
  }

  .arrows {
    display: none;
  }

  .thumbnail {
    justify-content: start;
    height: 100px;
  }

  .thumbnail .item {
    height: 90px;
    width: 140px;
  }
}

/*BENTO BOXES - Pilares*/

.bento {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Gambetta", sans-serif;
  background: rgb(172, 107, 14);
  background: linear-gradient(0deg, rgba(172, 107, 14, 1) 0%, rgba(189, 138, 65, 1) 35%, rgba(209, 174, 123, 1) 69%, rgba(224, 200, 166, 1) 85%, rgba(255, 255, 255, 1) 100%);
}

.bento_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  padding: 50px;
  width: 100%;
  height: inherit;
  z-index: 3;
}

.bento_box {
  position: relative;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  color: var(--zen-white);
  transition: background-color 0.32s ease-in-out;
  border: 3px solid var(--zen-pilaresanim3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
}

.bento_box.active {
  transition: background-color 0.32s ease-in-out;
}

/* .bento_box .image_container {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  z-index: 2;
} */

.bento_box .box_image {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 20px; */
  filter: brightness(0.75);
  /* filter: brightness(0.8) sepia(60%) saturate(200%) hue-rotate(340deg); */
}

.bento_box:nth-child(1) {
  grid-area: 1/1/2/4;
}

.bento_box:nth-child(2) {
  grid-area: 1/4/3/6;
}

.bento_box:nth-child(3) {
  grid-area: 3/1/5/3;
}

.bento_box:nth-child(4) {
  grid-area: 3/3/5/6;
}

.bento_box:nth-child(5) {
  grid-area: 3/6/4/9;
}

.bento_box:nth-child(6) {
  grid-area: 4/6/5/9;
}

.bento_box:nth-child(7) {
  grid-area: 1/6/3/9;
}

.bento_box:nth-child(8) {
  grid-area: 2/1/3/4;
}

.bento_box_content {
  opacity: 90%;
}

.bento_box_text {
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px black;
  font-family: "Gambetta", sans-serif;
}

.bento_box_text span {
  display: block;
  font-size: 28px;
  font-weight: bold;
}

/*Bento Modal*/

.bento_modals {
  font-family: "Gambetta";
}

.bento_modal_container {
  position: relative;
}

.bento_modal_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  z-index: 0;
  opacity: 0;
  padding: 20px;
  width: 50%;
}

.bento_modal_content h2 {
  font-family: "Gambetta-Medium", sans-serif;
  font-size: 38px;
  color: var(--zen-lightorange);
  width: 100%;
  text-align: center;
}

.bento_modal_subtitle {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-style: italic;
  color: var(--zen-white);
  margin-bottom: 25px;
}

.bento_modal_info p {
  font-family: "Gambetta", sans-serif;
  font-size: 16px;
  color: var(--zen-white);
}

.bento_modal_image {
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: end;
  inset: 0;
  width: 100%;
  height: 100%;
}

.box_modal_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: scaleX(-1);
}

.bento_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.32s ease-in-out, visibility 0.32s ease-in-out;
}

.bento_overlay.active {
  opacity: 1;
  visibility: visible;
}

.bento_modal1,
.bento_modal2,
.bento_modal3,
.bento_modal4,
.bento_modal5,
.bento_modal6,
.bento_modal7,
.bento_modal8 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.32s ease-in-out, visibility 0.32s ease-in-out;

  width: 70%;
  max-width: 1200px;
  height: 90%;
  max-height: 570px;
  border-radius: 1rem;
  background-color: #00000099;
  backdrop-filter: blur(1rem);
  --webkit-backdrop-filter: blur(1rem);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bento_modal1.active,
.bento_modal2.active,
.bento_modal3.active,
.bento_modal4.active,
.bento_modal5.active,
.bento_modal6.active,
.bento_modal7.active,
.bento_modal8.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.32s ease-in-out, visibility 0.32s ease-in-out;
}

.bento_modal_close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  color: var(--zen-lightorange);
  cursor: pointer;
  z-index: 2;
  padding: 2px 14px 2px 14px;
  background-color: #00000099;
  border-radius: 50%;
}

/*Bento Intro*/

.bento_intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  width: 100%;
  text-align: center;
  line-height: 110px;
  color: var(--zen-pilaresanim);
  mix-blend-mode: overlay;
}

.bento_intro_row {
  overflow: hidden;
  opacity: 0;
}

.bento_intro_row span {
  margin-left: 20px;
}

.bento_intro h1 .char {
  font-size: 120px;
  font-weight: bold;
  display: inline-block;
  /* juntar letras */
  margin-right: -20px;
}

@media screen and (max-width: 1080px) {
  .bento_container {
    grid-template-rows: repeat(8, 1fr);
    padding: 10px;
  }

  .bento_intro {
    left: 40%;
  }

  .bento_intro h1 .char {
    font-size: 40px;
  }

  .bento_box:nth-child(1) {
    grid-area: 1/1/2/9;
  }

  .bento_box:nth-child(2) {
    grid-area: 2/1/3/9;
  }

  .bento_box:nth-child(3) {
    grid-area: 3/1/4/9;
  }

  .bento_box:nth-child(4) {
    grid-area: 4/1/5/9;
  }

  .bento_box:nth-child(5) {
    grid-area: 5/1/6/9;
  }

  .bento_box:nth-child(6) {
    grid-area: 6/1/7/9;
  }

  .bento_box:nth-child(7) {
    grid-area: 7/1/8/9;
  }

  .bento_box:nth-child(8) {
    grid-area: 8/1/9/9;
  }

  .bento_box_text span {
    font-size: 14px;
  }

  .bento_modal_content {
    width: 100%;
  }

  .bento_modal_content h2 {
    font-size: 14px;
  }

  .bento_modal_subtitle {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .bento_modal_info p {
    font-size: 12px;
  }

  .bento_modal1,
  .bento_modal2,
  .bento_modal3,
  .bento_modal4,
  .bento_modal5,
  .bento_modal6,
  .bento_modal7,
  .bento_modal8 {
    justify-content: start;
  }
}

/*** Footer ***/

.scrolling-text {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.scrolling-text .rail {
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateY(-120px);
}

@media screen and (max-width: 1290px) {
  .scrolling-text .rail {
    transform: translateY(-160px);
    margin-top: -90px;
  }
}

.scrolling-text .rail h4 {
  font-family: "Gambetta", sans-serif;
  white-space: nowrap;
  font-size: 120px;
  padding-right: 60px;
  letter-spacing: -5px;
  margin: 0 1rem 0 0;
  color: var(--zen-white);
  /* color: black; */
}

/*MENU*/

.nav-container {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 4;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0px 4px 0px 4px;
  top: 5px;
  left: 50%;
  border-radius: 10px;
  overflow: hidden;
  /* backdrop-filter: blur(50px); */
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  background-color: #f3961499;
  transform: translateX(-50%);
}

.nav-ul {
  position: relative;
  display: flex;
  gap: 5px;
}

.nav-li {
  position: relative;
  list-style: none;
  z-index: 2;
}

.nav-link {
  display: inline-block;
  padding: 6px 20px;
  color: var(--zen-pilaresanim);
  text-shadow: 1px 1px 1px var(--zen-white);
  text-decoration: none;
  font-family: "Gambetta", sans-serif;
  font-size: 19px;
  transition: var(--transition-menu1);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.nav-icon {
  display: inline-block;
  color: var(--zen-white);
  font-size: 30px;
  transition: var(--transition-menu1);
  cursor: pointer;
}

.nav-link:hover,
.nav-icon:hover {
  color: var(--zen-white);
}

.nav-li.active .nav-link,
.nav-li.active .nav-icon {
  color: var(--zen-analog2);
}

/*Accordeon*/

.ReactCollapse--collapse {
  transition: height 500ms;
}

/*Form*/

#registration-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-items: start;
  justify-content: center;
  padding: 40px;
  background-color: var(--zen-analog);
  color: var(--zen-white);
  border-radius: 20px;
  width: 700px;
  height: fit-content;
  font-family: "Gambetta", sans-serif;
  font-size: 18px;
}

.form-group {
  display: flex;
  gap: 20px;
  width: 100%;
  position: relative;
}

.form-group label {
  width: 14%;
}

.form-group input {
  width: 100%;
  padding: 6px;
  color: black;
}

.form-group select {
  width: 150px;
  color: black;
}

.form-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

button {
  padding: 15px 25px;
  text-align: center;
  background-color: var(--zen-analog2);
  font-size: 21px;
  border-radius: 10px;
}

.consent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 10px;
}

.consent input[type="checkbox"] {
  width: 30px;
  /* Aumenta el ancho */
  height: 30px;
  /* Aumenta la altura */
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 60px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #registration-form {
    font-size: 14px;
  }

  .form-group {
    flex-direction: column;
  }

  .bento_modal_container {
    position: relative;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bento_modal_image {
    height: 122%;
  }

  .box_modal_image {
    border-radius: 20px;
  }

  .bento_modal1,
  .bento_modal2,
  .bento_modal3,
  .bento_modal4,
  .bento_modal5,
  .bento_modal6,
  .bento_modal7,
  .bento_modal8 {
    height: 100%;
    max-height: 650px;
  }

  .bento_modal_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

/*Modal Form Country*/
.country-name {
  color: black;
}